/*
Original design: andreas07 (v2.1 - Sep 11, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas07/
*/

/* This CSS design comes in three colors:
   #d85d5d -> red (the default)
   #46a758 -> green
   #467aa7 -> blue

   Just replace all occurences of red style color value with the green or blue color vlaue one to
   change the colors.

*/

/* Main tags */
body {margin:0; padding:0; color:#404040; background:#fafafa; font-size:12px; font-family:'Verdana', 'Tahoma', 'sans-serif';}
ul {margin:5px 0 16px 5px; padding:0;}
li {margin:0 0 8px 15px; padding:0; }
img {margin:10px auto 16px auto; padding:1px; border:1px solid #d0d0d0;}
a {color:#0000CE; font-weight:bold; text-decoration:none;}
a:hover {color:#505050; text-decoration:underline;}
a img {border-color:#0000CE;}
a img:hover {background:#0000CE; border-color:#0000CE;}

/* Wrap */
#wrap {width: 990px;}

/* Left sidebar */
#leftside {width:220px; background:#e0e0e0; text-align:right; float:left; height:100%;}
#leftside h1 {margin:20px 18px 0 5px; color:#0000CE; font-size:1.6em; letter-spacing:-2px; text-align:right;}
#leftside h2, #leftside h3 {margin:0 20px 18px 5px; color:#808080; font-size:1.1em; font-weight:bold; letter-spacing:-1px; text-align:right;}
#leftside h3 {margin:20px 18px 4px 5px; color:#606060;}
#leftside p {margin:0 20px 18px 5px; color:#606060; font-size:0.8em;}
#leftside a {color:#808080}
#leftside ul {margin-right: 20px; margin-left: 5px; list-style-type: none;}
#leftside li {margin: 0px; padding-left: 5px;}
/* Comment out the following line to make the left sidebar not fixed */
#leftside {position: fixed; top:0; left:0;}

/* Navigation menu */
#menu ul {list-style-type: none; margin: 0px; padding: 0px; font-size: 1.0em;}
#menu li {margin: 0px; padding: 0px}
#menu a, #menu span {display:block; width:202px; padding:5px 18px 5px 0; color:#606060; background:#e0e0e0; font-size:1.6em; font-weight:normal; text-decoration:none; letter-spacing:-1px;}
#menu a:hover, #menu span:hover {color:#303030; background:#f0f0f0;}
#menu a.active, #menu li.webgen-menu-item-selected a, #menu li.webgen-menu-item-selected span, #menu li.webgen-menu-submenu-inhierarchy a, #menu li.webgen-menu-submenu-inhierarchy span {padding:5px 18px 5px 0; background:#fafafa; border-top:2px solid #c0c0c0; border-bottom:2px solid #c0c0c0;}
#menu a.active:hover, #menu li.webgen-menu-item-selected a:hover, #menu li.webgen-menu-item-selected span:hover, #menu li.webgen-menu-submenu-inhierarchy a:hover, #menu li.webgen-menu-submenu-inhierarchy span:hover {color:#505050; background:#fafafa;}

/* Right sidebar */
#extras {width:220px; background:#e0e0e0; float:right; height:100%;}
#extras h2, #extras h3 {margin:10px 0 12px 0; color:#606060; font-size:1.6em; font-weight:400; letter-spacing:-1px; text-align:center; border-bottom:2px solid #b0b0b0;}
#extras p {line-height:1.4em; margin: 0 0 15px 0;}
#extras ul {margin-left: 15px; }

#extras {position: fixed; top:0; left:780px;}

/* filler */
#fill {width:100%; overflow:hidden; background:#e0e0e0; float:right; height:100%; position: fixed; top:0; left:1000px;}

/* Content area */
#content {width:520px; margin:0 0 0 240px; padding:10px 0; background:#fafafa;}
#content p {margin:0 0 16px 0; line-height:1.5em;}
#content h1 {margin:10px 0 20px 0; color:#0000CE; font-weight:normal; font-size:2em; letter-spacing:-1px;}
#content h2 {margin:20px 0 10px 0; color:#606060; font-weight:normal; font-size:1.6em; letter-spacing:-1px;}
#content h3 {color:#606060}


