<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    {% include head.html %}
  </head>

  <body>
    <div id="wrap">

      <div id="leftside">
        {% include leftside.html %}
      </div>

      <div id="extras">
        {% include news.html %}
      </div>

      <div id="fill">
      </div>

      <div id="content">
        <img src="/assets/logo/mesa_logo2_100pt.png" style="border:0px" >
        {{ content | toc_generate }}
      </div>


    </div>
  </body>
</html>
